body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", sans-serif;
  /* adding 'font-weight' in case some font not working exactly 'bold' or 'black' property! */
  font-weight: 780;
}

p {
  color: #000;
}



.feature-title:hover {
  content: url("images/certificates/Electronics.jpg") no-repeat;
}

/* Headings */
.text {
  padding: 3%;
}

.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.2;
}

.medium-heading {
  /* font-family: "Montserrat-Black", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
  /* padding: 1% 0%; */
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

/* Containers */
.container-fluid {
  padding: 0% 10% 3%;
}

/* Sections */
.colored-section {
  background-color: #fff;
  color: #fff;
}

.end-section {
  background-color: #dd7631;
}

/* Navigation Bar */
.navbar {
  padding: 0 4rem 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0% 0.75rem;
}

.nav-link {
  font-size: 1.4rem;
  font-family: "Montserrat-Light";
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  background-color: #dd7631;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 3%;
}

/* Title Image */
.title-image {
  width: 25rem;
  transform: rotate(0deg);
  position: inherit;
  /* top: -14%;
  right: 30%; */
  border-radius: 100%;
  box-shadow: 8px 8px 8px #bb3b0e;
}

/* Features Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #f4a548;
  margin-bottom: 1rem;
  font-size: 100px;
}

.icon:hover {
  color: #fc7e2f;
}

/* Testimonial Section */
#testimonials {
  background-color: #63b7af;
}

#textOrganization {
  color: #000;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 50%;
  /* border-radius: 100%; */
  margin: 20px;
}

#press {
  background-color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
}

.press-logo {
  width: 14%;
  margin: 20px 20px 50px;
  padding: 0 0%;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
/* Footer Section */
.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .video {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: -100rem;
    padding-top: -100rem;
    width: 30rem;
    height: 10rem;
  }
  .title-image {
    position: static;
    transform: rotate(0);
    width: 75%;
  }
}

@media (max-width: 1500px) {
  .video {
    width: 50rem;
    height: 30rem;
  }
  .title-image {
    position: static;
    transform: rotate(0);
    width: 75%;
  }
}
