html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat";
  text-align: center;
  margin: 0;
  padding: 0;
  /* transform: scale(0.9); */
  /* transform-origin: 0 0;
  // add prefixed versions too. */ */
}

img {
  text-align: center;
  margin: 0;
  padding: 0;
}



.certi{
  margin: 0;
  padding: 0;
}

hr {
  border-style: inset;
  border-width: 1px;
  margin: 0.5% 0% 1% 0%
}
.section {

  margin: 0;
  padding: 0;
}

.feature-box {
  margin: 0;
  padding: 0;
}

.col-lg-3 {
  margin: 0;
  padding: 0;
}

.col-sm-6 {
  margin: 0;
  padding: 0;
}


.activity-image {
  width: 100%;
}


.activity-text {
  font-size: 4rem;
}
.activity-section {
  padding: 3% 10%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", sans-serif;
  /* adding 'font-weight' in case some font not working exactly 'bold' or 'black' property! */
  font-weight: 800;
}

h3 {
  /* padding-top: 1.75rem; */
  text-align: center;
  position: inherit;
}

p {
  /* font-size: 1.2rem; */
  color: #000;
  text-align: center;
}

.sub-heading {
  font-weight: 1000;
  position: relative;
  padding-top: 4rem;
  /* padding-bottom: 0.5rem; */
  text-align: left;
  margin-left: 2rem;
}
.left {
  text-align: left;
}

.row {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 2rem;
}

.image-in-column {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: -8rem;
}

.section {
  text-align: center;
}

.white-section {
  margin-top: -0.8rem;
  margin-bottom: -5rem;


}
.container-fluid {
  margin-top: -1rem;
  padding: 0% 11% 0% 15%;
  padding-bottom: -20rem;
  padding-top: -10rem;
  /* margin-bottom: -2rem; */
}

.container-fluid-2 {
  padding: 0% 5% 8% 5%;
  padding-bottom: -20rem;
  margin-bottom: -10rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.achievement {

  width: 22rem;
  height: auto;

  position: inherit;
  /* top: -14%;
  right: 30%; */
  box-shadow: 8px 8px 8px #bb3b0e;
  margin-bottom: 1.75rem;
  margin-left: -3rem;
  text-align: center;

}

.achievement:hover {
  width: 30rem;
  height: auto;
  z-index: 100
}

.certificate {

  width: 22rem;
  height: auto;
  transform: rotate(0deg);
  position: relative;
  /* top: -14%;
  right: 30%; */
  box-shadow: 8px 8px 8px #709fb0;
  margin-bottom: 1.75rem;
  margin-left: -3rem;
  text-align: center;

}

.certificate:hover {
  width: 30rem;
  height: auto;
  z-index: 100
}

.circle {
  border-radius: 100%;
  width: 15rem;
  height: 15rem;
}

.circle:hover {
  border-radius: 100%;
  width: 30rem;
  height: 30rem;
  z-index: 100
}


.feature-title:hover {
  content: url("images/certificates/Electronics.jpg") no-repeat;
}

/* Headings */
.text {
  padding: 3%;
}

.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.2;
}

.medium-heading {
  /* font-family: "Montserrat-Black", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
  /* padding: 1% 0%; */
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

.heading {
  color: #00007e;
  margin: 0%;
}

.text3 {
  text-align: center;
  font-size: 1rem;
}

.title-image2 {
  width: 100%;
}

.row2 {
  margin-bottom: 3%;
  margin-top: 3%;
}

/* Containers */


/* Sections */


.end-section {
  background-color: #dd7631;
}

/* Navigation Bar */
.navbar {
  padding: 0 4rem 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0% 0.75rem;
}

.nav-link {
  font-size: 1.6rem;
  font-family: "Montserrat-Light";
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;

  cursor: pointer;
}


/* Title Section */
#title {
  background-color: #dd7631;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 13% 0.5% 15%;
  margin-left: 1rem;
}

.colored-section {
  background-color: #fff;
  color: #fff;
}

.quotes{
  /* font-family: 'Caveat'; */
  font-family: 'Satisfy';
  text-align: justify;
  font-size: 2rem;
  margin-left: -1.5rem;
  margin-top: 4.5rem;
  margin-bottom: -1rem;
  /* color: #fff; */
  /* font-style: italic; */
}

/* Title Image */
.title-image {
  width: 23rem;
  transform: rotate(0deg);
  position: inherit;
  /* top: -14%;
  right: 30%; */
  border-radius: 100%;
  box-shadow: 8px 8px 8px #bb3b0e;
  margin-left: -8rem;

}

/* Features Section */
#features {
  position: relative;

}

.email {
  color: #4a3933;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #f4a548;
  margin-bottom: 1rem;
  font-size: 7.5rem;
}

/* .icon:hover {
  color: #fc7e2f;
} */

/* Testimonial Section */
#testimonials {
  background-color: #63b7af;
}

#textOrganization {
  color: #000;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 50%;
  /* border-radius: 100%; */
  margin: 20px;
}

#press {
  background-color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
}

.press-logo {
  width: 14%;
  margin: 20px 20px 50px;
  padding: 0 0%;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
/* Footer Section */
.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1208px) {
  #title {
    text-align: center;

  }

  .container-fluid {
    padding: 0% 12% 0% 12%;
    padding-bottom: -20rem;
    margin-bottom: -15rem;
  }

  .video {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;

    width: 50rem;
    height: 10rem;

  }
  .title-image {
    position: static;
    transform: rotate(0);
    width: 75%;
    margin-top: 1rem;
    margin-left: -1.7rem;

    margin-bottom: 1rem;
  }

  .quotes{
    visibility: hidden;
    text-align: justify;
    font-size: 1rem;
    margin-left: -2rem;
    margin-bottom: -1rem;
    /* color: #fff; */
    /* font-style: italic; */
  }
}

@media (max-width: 1500px) {
  .video {
    position: relative;
    width: 50rem;
    height: 30rem;
    margin-top: 1rem;
    margin-bottom: 25rem;

  }
  .title-image {
    position: static;
    transform: rotate(0);
    width: 75%;
  }
  .container-fluid{
    padding: 25% 12% 0% 12%;
    padding-bottom: -20rem;
    margin-bottom: -15rem;
  }

  .container-fluid-2 {
    padding: 25% 5% 1% 5%;
    padding-bottom: -20rem;
    margin-bottom: -10rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
